{% extends "commandhelp.jinja2" %}
{% block usage %}

Дать ответ на загадку.

/answer [номер загадки] [ваш ответ]

Примеры:
/answer 12 The Beatles - Yesterday
/answer 98 Юрий Визбор - Милая моя

У команды два аргумента:
    {{emoji.point}} <b>номер загадки</b> -- это цифра, уникальный id загадки в канале
    {{emoji.point}} <b>ваш ответ</b> -- это текст ответа, не более 150 знаков

Между командой и номером загадки, а также между номером загадки и вашим ответом обязательно должны быть пробелы.

{% endblock %}