{% extends "commandhelp.jinja2" %}
{% block usage %}

Вывести список ответов игроков за последние 24 часа: кто и на какие загадки ответил. Администратору будут показаны также ответы игроков.

/recent [токен администратора, опционально]

Примеры:
/recent MySecret%*86TOKEN
/recent

У команды один опциональный аргумент):
    {{emoji.point}} <b>токен администратора</b> -- это код доступа к ответам

Если токен не указывать, бот скроет ответы игроков.
Между командой и токеном обязательно должны быть пробелы.
{% endblock %}