{% extends "commandhelp.jinja2" %}
{% block usage %}

Зарегистрировать новую загадку.

/register [имя загадки] [токен администратора]

Примеры:
/register Битлы MySecret%*86TOKEN
/register Юрий Визбор Милая Моя от @dexpiper MySecret%*86TOKEN

У команды два аргумента:
    {{emoji.point}} <b>имя загадки</b> -- это имя загадки. Оно может быть любым - как просто опознавательный знак, так и правильный ответ
    {{emoji.point}} <b>токен администратора</b> -- это код доступа к ответам

Между командой и именем загадки, а также между именем загадки и токеном обязательно должны быть пробелы.

{{ emoji.gear }} В ответ бот отправит уникальный номер загадки, по которому игроки смогут на нее отвечать.

{% endblock %}