{% extends "commandhelp.jinja2" %}
{% block usage %}

Вывести список ответов игроков на нужную загадку.

/show [номер загадки] [токен администратора]

Примеры:
/show 12 MySecret%*86TOKEN
/show 98 MySecret%*86TOKEN

У команды два аргумента:
    {{emoji.point}} <b>номер загадки</b> -- это цифра, уникальный id загадки в канале
    {{emoji.point}} <b>токен администратора</b> -- это код доступа к ответам

Между командой и номером загадки, а также между номером загадки и токеном обязательно должны быть пробелы.
{% endblock %}