{{ emoji.horn }} Зарегистрировали новую загадку!

{{ chess }} <b>Уникальный номер загадки:</b> <i>{{ puzzle.id }}</i>

{% if puzzle.name %}
Для загадки также сохранили имя - <i>{{ puzzle.name }}</i>, но его никто не увидит, кроме вас. Оно нужно, чтобы в будущем не запутаться в загадках.
{% endif %}

Номер загадки нужно передать игрокам, по нему будут давать ответы.

Спасибо!