<b>ImaginAlarium Answer Bot</b>

{{ emoji.gear }} Version: <i>{{ version }}</i>

{{ emoji.pencil }} Замечания и предложения: <a href="tg://user?id=138946204">писать сюда</a>

Бот-помощник телеграм-игры <a href="https://t.me/imaginaiarium">ImaginAlarium</a>: сохраняет ответы игроков на загадки, а также помогает администратору вывести список ответов на загадки.

{{ emoji.report }} <b>Commands / Команды:</b>

/start, /help --> <i>показать это сообщение</i>
/answer --> <i>дать ответ на загадку</i>
/show --> <i>показать ответы игроков на загадку (только для администратора)</i>
/register --> <i>зарегистрировать загадку (только для администратора)</i>